body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  height: 100vh;
  max-width: 30%;
  float: left;
  min-width: 30%;
  position: fixed;
  z-index: 1;
  background: url(https://images.unsplash.com/photo-1562048048-86d659689440?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzMyfHxiYWNrZ3JvdW5kJTIwcGlua3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-right: 4px solid pink;
  color: rgb(15 25 34);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 10px 10px 10px;
  box-sizing: border-box;
}
.main-content {
  width: 70%;

  float: right;
  background: rgb(15 25 34);

  color: white;

  color: white;
}

header {
  position: fixed;
  width: 70%;
  border-bottom: 4px solid pink;
  background-color: rgb(15 25 34);
  z-index: 9999;
  padding: 30px 40px;
  box-sizing: border-box;
}
.main-body {
  box-sizing: border-box;
  padding: 0 40px;
  text-align: center;
}
.profile-pic {
  width: 10em;
  border-radius: 17%;
  border: 2px solid pink;
}
.sidebar h1 {
  font-size: 1.5rem;
}
.sidebar p {
  font-size: 1.2rem;
}
.sidebar span {
  border-right: 2px solid rgb(23, 38, 51);
  padding-right: 4px;
}
.sidebar span:last-child {
  border: none;
}
.icons img {
  width: 3em;
}
.fa-brands,
.fab {
  color: rgb(23, 38, 51);
}
.fa-lg {
  font-size: 2.25em;
}
.fa-brands:hover {
  color: gray;
}
.fa-3x {
  font-size: 3em;
}
.navbar {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0; */
  padding: 0;
}

a:hover {
  color: pink;
}
.navbar li a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
ul a:hover {
  color: pink;
}
li {
  transition: all 0.5s;
}
li:hover {
  transform: translateX(0px) translateY(-8px);
}
.sm-span {
  font-size: 10px;
}
.mobile-nav {
  display: none;
}

.intro {
  margin: 200px 0 300px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3rem;
}
.pink {
  color: pink;
}
h1 {
  font-size: 3rem;
}
.intro img {
  display: none;
}
p {
  font-size: 1.3rem;
  line-height: 1.8;
  margin: 0;
}

.about-me {
  text-align: left;
  margin-bottom: 300px;
}
.projects {
  margin-bottom: 50px;
}
.slider {
  margin-bottom: 50px;
  position: relative;
}
.fa-solid,
.fas {
  font-weight: 900;
  font-size: 23px;

  position: absolute;
  top: 128px;
  font-size: 37px;
}
.fa-solid:hover {
  color: pink;
}
.slider-btn-left {
  left: -11px;
}
.slider-btn-right {
  right: -9px;
}
.slider img {
  max-width: 25%;

  height: 6em;
  border: 1px solid pink;
  margin-bottom: 20px;
}
.app-dash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s;

  height: 293px;
}
.app-dash img,
.app-dash p {
  opacity: 0;
}

.app-dash-name {
  font-size: 30px;
}
.hidden {
  display: none;
}
.projects {
  margin-top: 158px;
}
.projects h1 {
  margin-bottom: 0;
}
.app-dash-h4 a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  margin-top: 0.625em;
}
a:hover {
  color: pink;
}
.app-dash {
  margin-top: 0.625em;
}
.app-dash p {
  line-height: 20px;
}
.app-dash-para {
  margin-bottom: 0.625em;
  height: 50px;
}

.app-dash:hover .app-dash-img {
  opacity: 1;
  transition-duration: 0.7s;
}
.app-dash:hover .app-dash-discription {
  opacity: 1;
  transition-duration: 0.7s;
}
.app-dash h2 {
  font-size: 30px;
  transform: translateZ(0) translateY(80px);
  transition-duration: 0.7s;
  margin-top: 0;
}
.app-dash-h4 {
  transform: translateZ(0) translateY(-50px);
  transition-duration: 0.7s;
}

.app-dash:hover .app-dash-name {
  transform: translateZ(0) translateY(0px);
}
.app-dash:hover .app-dash-h4 {
  transform: translateZ(0) translateY(60px);
}
.app-dash-para {
  margin-bottom: 0.625em;
  height: 2em;
}
/* ////////other projects////////////// */
.other-projects {
  margin-top: 150px;
  margin-bottom: 100px;
}

/* ///grid */
.dashboardExt {
  margin-bottom: 12px;
}
.grid {
  display: grid;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr/1fr 1fr;
  gap: 10px;
  color: rgb(15 25 34);
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  font-size: 30px;
  text-align: center;
}
.grid-item h4 {
  font-size: 20px;
}
.grid-item a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}
.grid-item a:hover {
  color: purple;
}
.grid-item:hover {
  opacity: 0.5;
}
.skillsUl {
  list-style: none;
  padding: 0;
}
.skillsUl li {
  font-size: 23px;
  margin: 10px 0;
}
.skills span a {
  text-decoration: none;
  color: pink;
}
.skills span a:hover {
  color: white;
  transform: translateX(0px) translateY(-8px);
}
.skills {
  margin: 400px 0;
}
.contact {
  margin: 100px 0;
}
.contact a {
  background: purple;
  padding: 10px;
  /* margin-top: 20px; */
  border-radius: 9px;
  color: white;
  text-decoration: none;
}
.contact a:hover {
  opacity: 0.4;
}
.contact p {
  margin-bottom: 20px;
}
.footer {
  margin: auto 0 0 0;
}
.footer p {
  font-size: 14px;
  line-height: 1rem;
}
.purple {
  color: purple;
}
footer {
  display: none;
}
/* //////////mobile////////////// */
@media (max-width: 550px) {
  .grid {
    display: block;
  }
  .app-dash-name {
    font-size: 20px;
  }
  .slider img {
    min-width: 40%;
  }
  .intro {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-me {
    text-align: center;
  }
  .intro img {
    display: block;
    width: 6em;
    border-radius: 48%;
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.5;
  }
  .sidebar {
    display: none;
  }
  .main-content,
  header {
    width: 100%;
  }
  .mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .letterIcon {
    width: 2em;
  }
  .navbar {
    display: none;
  }
  .hamburger-menu .line {
    width: 28px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }

  .overlay {
    width: 85%;
    background-color: black;
    position: absolute;
    top: 101px;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .overlay li {
    margin: 32px 0;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: 700;
  }
  a:hover {
    color: pink;
  }
  .hamburger-menu:hover .line {
    background-color: pink;
  }
  .rotateU {
    transform: rotate(43deg);
    transform-origin: 3px;
  }
  .rotateM {
    visibility: hidden;
  }
  .rotateB {
    transform: rotate(-45deg);
    transform-origin: 0px;
  }
  footer {
    display: block;
    text-align: center;
  }
  footer p {
    font-size: 14px;
  }
}
